<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <httpRuntime requestPathInvalidCharacters="" requestValidationMode="2.0" />
    <pages validateRequest="false" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="C:\Program Files\dotnet\dotnet.exe" arguments=".\FxWin.ClientApp.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false">
		  <environmentVariables>
			<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
		  </environmentVariables>
    </aspNetCore>
	<rewrite>
            <rules>
                <rule name="Angular Routes" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile"  negate="true"  />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory"  negate="true"  />
                    </conditions>
                    <action type="Rewrite" url="/FxWinWeb/" />
                </rule>
            </rules>
    </rewrite>
  </system.webServer>
</configuration>