<div class="home-container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="text-center">
                    <img alt="Angular2" class="img-responsive center-block home-logo" src="assets/img/icon/logo1.png" />
                </div>
            </div>
            <div class="col-lg-9 col-md-8 home-text">
                <h1>FXWIN</h1>
                <p>
                    Bootstrap Template + <strong>ASP.NET Core &amp; Angular4</strong>
                    <br> <small>One framework. Mobile & desktop.</small>
                </p>
                <p><a class="btn btn-info btn-lg" href="https://angular.io/" target="_blank">Learn more</a></p>
                <h3 class="pull-right">Your indicators, to be continued ...</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body">
                    <h3>Webpack</h3>
                    <p>
                        Webpack powered build enviroment with tons of utilities. Support for vendor bundles and polyfills.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body">
                    <h3>Router</h3>
                    Powerful and modern routes definitions. Easily declare routes and nested routes with components association.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body">
                    <h3>LazyLoad</h3>
                    <p>
                        Modules organized to provide lazy routes loading to improve load times of the application.
                    </p>
</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body">
                    <h3>Modularized</h3>
                    This project has been carefully designed to provide modules for Core, Layout, Shared and Routed components.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body">
                    <h3>Environments</h3>
                    Ready to work with multiple environments, from first stage development through test and production.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body">
                    <h3>Style Guide</h3>
                    Better practices for Code organization and Project structure based on the official Angular2 style guide.
                </div>
            </div>
        </div>
    </div>
</div>