<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FXWinV2Entities"
             connectionString="metadata=res://*/FXWinEntityDataModel.csdl|res://*/FXWinEntityDataModel.ssdl|res://*/FXWinEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=D50046524.sdmn01.sirius.infra.com;initial catalog=FXwinDev;integrated security=False;User Id=Fx-Win-Service;Password=Fx-Win-Service; MultipleActiveResultSets=True;App=EntityFramework&quot;"
             providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ExtractionOperationsWSServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="ExtractionOperationsWSServiceSoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://signal.gdfsuez.net:8001/SignalWebServices/ExtractionOperationsWS"
        binding="basicHttpBinding" bindingConfiguration="ExtractionOperationsWSServiceSoapBinding"
        contract="OperationsService.ExtractionOperationsWS" name="ExtractionOperationsWSSoapPort" />
    </client>
  </system.serviceModel>
</configuration>