<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FXWinV2Entities"
     connectionString="metadata=res://*/FXWinEntityDataModel.csdl|res://*/FXWinEntityDataModel.ssdl|res://*/FXWinEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=fxwinapp-server-8730.database.windows.net;initial catalog=fxwin;integrated security=False;User Id=taoufik.rais.lai;Password=T@oufik487506; MultipleActiveResultSets=True;App=EntityFramework&quot;"
     providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ExtractionOperationsWSServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="ExtractionOperationsWSServiceSoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://signal.gdfsuez.net:8001/SignalWebServices/ExtractionOperationsWS"
        binding="basicHttpBinding" bindingConfiguration="ExtractionOperationsWSServiceSoapBinding"
        contract="OperationsService.ExtractionOperationsWS" name="ExtractionOperationsWSSoapPort" />
    </client>
  </system.serviceModel>
</configuration>